body {
  background-color: black;
  color: aliceblue;
}


.full-bg {
  /* Adjust the content to fill the viewport */
  min-height: 100vh;
  
  /* Add a background image to the container */
  background-image: url('./Steganography.png');
  
  /* Cover the entire container */
  background-size: cover;
  
  /* Position the background image */
  background-position: center;
  
  /* In case the image doesn't cover the entire viewport */
  background-repeat: no-repeat;

  background-position: top;
  z-index: 10;
}