body {
  background-color: black;
  color: aliceblue;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: blue;
}

nav a:hover {
  text-decoration: underline;
}


.full-bg {
  /* Adjust the content to fill the viewport */
  min-height: 100vh;
  
  /* Add a background image to the container */
  background-image: url('./Steganography.png');
  
  /* Cover the entire container */
  background-size: cover;
  
  /* Position the background image */
  background-position: center;
  
  /* In case the image doesn't cover the entire viewport */
  background-repeat: no-repeat;
}